<div class="panel panel-info">
    <!--Koszyk header-->
    <div class="panel-heading">
        <div class="panel-title">
            <h5><span class="glyphicon glyphicon-shopping-cart"></span> Koszyk</h5>
        </div>
    </div>

    <div class="panel-body">
        <!--Produkt w koszyku1-->
        <div class="row">
            <div class="col-md-4">
                <h5 class="product-name"><strong>Telewizor 40" Szajsung</strong></h5>
            </div>

            <div class="col-md-2">
                <h6><strong>1999.00zł </strong></h6>
            </div>

            <div class="col-md-2">
                <h6><span class="text-muted">x </span>1</h6>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-link btn-md">
                    <span class="glyphicon glyphicon-plus"> </span>
                </button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-link btn-md">
                    <span class="glyphicon glyphicon-minus"> </span>
                </button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-link btn-md">
                    <span class="glyphicon glyphicon-trash"> </span>
                </button>
            </div>
        </div>
        <hr>

        <!--Produkt w koszyku2-->
        <div class="row">
            <div class="col-md-4">
                <h5 class="product-name"><strong>Telewizor 40" Szajsung</strong></h5>
            </div>

            <div class="col-md-2">
                <h6><strong>1999.00zł </strong></h6>
            </div>

            <div class="col-md-2">
                <h6><span class="text-muted">x </span>1</h6>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-link btn-md">
                    <span class="glyphicon glyphicon-plus"> </span>
                </button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-link btn-md">
                    <span class="glyphicon glyphicon-minus"> </span>
                </button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-link btn-md">
                    <span class="glyphicon glyphicon-trash"> </span>
                </button>
            </div>
        </div>
    </div>

    <!--Podsumowanie-->
    <div class="panel-footer">
        <h4 class="text-center">Łącznie <strong>4498.00zł</strong></h4>
        <button type="button" class="btn btn-success btn-md"><span
                class="glyphicon glyphicon-ok"></span> Zatwierdź
        </button>
    </div>
</div>

</div>