{% extends "index.html" %}
{% block content %}
<h1 class="text-left">Tutaj nazwa kategorii.</h1>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <a href="#" class="details-button">
                    <div class="panel-heading details">Telewizor 40" Szajsung</div>
                    <div class="panel-body">
                        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                </a>

                <div class="panel-footer">
                    <div class="row">
                        <div class="well-md">
                            <p>1999zł</p>
                        </div>
                        <button type="button" class="btn btn-success btn-md"><span
                                class="glyphicon glyphicon-plus"></span> Dodaj
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}