{% extends "index.html" %}
{% block content %}
<h1 class="text-left">Moje zamówienia</h1>
<hr>

<div class="table">
  <table>
    <thead class="color-primary">
    <tr>
        <th class="text-center">Data zamówienia</th>
        <th class="text-center">Status</th>
        <th class="text-center">Suma zamówienia</th>
        <th class="text-center">Produkt</th>
        <th class="text-center">Cena produktu</th>
        <th class="text-center">Ilość</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <!--Trzeba też dorobić mapowanie statusów: {Niepłacone, Opłacone, W realizacji, Gotowe do odbioru, Odebrane, Zrealizowane, Anulowane}-->

    {% for order, items in orders %}
    <tr>
      <td rowspan="2" class="vert-align">{{ order.date }}</td>
      <td rowspan="2" class="vert-align">{{ order.status }}</td>
      <td rowspan="2" class="vert-align">{{ total }}zł</td>
      {% for item in items %}
      <td>{{ item.item_id.name }}</td>
      <td>{{ item.price }}zł</td>
      <td>{{ item.quantity }}</td>
      </tr>
      <tr>
      {% endfor %}
    </tr>
    {% endfor %}

    </tbody>
    </table>
</div>
{% endblock %}
