{% extends "index.html" %}
{% block content %}
<h1 class="text-left">Moje zamówienia</h1>
<hr>

<div class="table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Data zamówienia</th>
                <th>Status</th>
                <!--Dorobić wyliczanie sumy zamówienia z produktów-->
                <th>Suma zamówienia</th>
                <th>Produkt</th>
                <th>Cena produktu</th>
                <th>Ilość</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!--Trzeba też dorobić mapowanie statusów: {Niepłacone, Opłacone, W realizacji, Gotowe do odbioru, Odebrane, Zrealizowane, Anulowane}-->

                <!--<td rowspan="$Ilość produktów na liście">2016-01-11</td>-->
                <td rowspan="2">2016-01-11</td>
                <!--<td rowspan="$Ilość produktów na liście">Nieopłacone</td>-->
                <td rowspan="2">Nieopłacone</td>
                <!--<td rowspan="$Ilość produktów na liście"></td>-->
                <td rowspan="2"></td>
                <td>Telewizor Szajsung 40"</td>
                <td>1999zł</td>
                <td>2</td>
            </tr>
            <tr>
                <td>McDonald Book Geld</td>
                <td>997zł</td>
                <td>1</td>
            </tr>

            <tr>
                <td rowspan="3">2016-01-11</td>
                <!--<td rowspan="$Ilość produktów na liście">Nieopłacone</td>-->
                <td rowspan="3">Nieopłacone</td>
                <!--<td rowspan="$Ilość produktów na liście"></td>-->
                <td rowspan="3"></td>

                <td>Monitor Liyama"</td>
                <td>800zł</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Ladowarka</td>
                <td>15zł</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>500zł</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}