{% extends "index.html" %}
{% block content %}
    <h2 class="text-left">
        <a href="#" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Powrót</a>
        Telewizor 40" Szajsung
    </h2>
    <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Telewizor 40" Szajsung</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE"
                                                 class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="well-md">
                                <p>1999zł</p>
                            </div>
                            <button type="button" class="btn btn-success btn-md"><span
                                    class="glyphicon glyphicon-plus"></span> Dodaj
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h5 class="text-left">
                    <p>
                        Telewizor dostosowany do odbioru obrazu z jakością HD
                        Odbiornik HD Ready gwarantujący jakość obrazu o rozdzielczości 1366 x 768 pikseli, oraz
                        spełniający kryteria organizacji EICTA. Logo HD Ready jest stosowane w odniesieniu do
                        urządzeń, które bezpośrednio odbierają i przetwarzają sygnały wysokiej rozdzielczości
                        HD. Najczęściej stosowana jest w telewizorach z mniejszą przekątną ekranu (przeważnie są
                        to telewizory do 32 cali)
                        <br/><br/>
                        Najwyższa jakość obrazu w najbardziej dynamicznych scenach
                        Poznaj prawdziwe znaczenie czystości ruchu na obrazie dzięki technologii Picture Quality
                        Index (PQI). Wartość ta określa jakości obrazu, która uwzględnia takie detale jak,
                        rodzaj ekranu, kolor, jasność, czerń i ruch, dzięki czemu transmisje wydarzeń sportowych
                        lub filmów mozna oglądać bez widocznych rozmyć obrazu. Im wyższa wartość PQI tym lepsza
                        jakość obrazu w najbardziej dynamicznych scenach.
                    </p>
                </h5>
            </div>
        </div>
    </div>
    <br>
{% endblock %}